Form Array Demo
<form [formGroup]="taskForm">
  <div formArrayName="task">
    <div *ngFor="let history of taskForm['controls'].task['controls']; let i=index">
      <div [formGroupName]="i">
        <input class="form-control" placeholder="Task Name" formControlName="name">
        {{taskForm.get(['task', i, 'name']).touched | json}}
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-danger" (click)="clear()">Clear All</button>
    <button class="btn btn-success" (click)="addTask()">Add Task</button>
  </div>

</form>
<hr>
Address Form
<form [formGroup]="addressForm">
  <input class="form-control" placeholder="Address Line1" formControlName="addressLine1">
  {{addressForm.get('addressLine1').touched}}
  <input class="form-control" placeholder="Address Line2" formControlName="addressLine2">
  <input class="form-control" matInput placeholder="City" formControlName="city">
</form>


<button class="btn btn-success" (click)="markAsTouched()">ValidateAll</button>
